<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="../reset.css" rel="stylesheet"/>
  <link href="../global.css" rel="stylesheet"/>
  <title>Codestagram</title>
</head>
<body>
<div class="container">
  {{header}}
  <div class="page">
    <h2 class="page-title">{{exception.code}}</h2>
    {{exception.message}}
    <form class="form" action="/" method="get">
      <button
          id="login-btn"
          class="btn btn_contained btn_size_m"
          style="margin-top: 24px"
          onclick="history.back()"
      >
        뒤로가기
      </button>
    </form>
  </div>
</div>
</body>
</html>